@for $i from 1 through 12 {
  $w:($i / 12) * 100%;
  .large-#{$i} {flex-basis: $w;}	
}

.limited {
  max-width: 950px;
}

.menu-spacer {
  height: 5px;
  border: none;
  background-color: $secondary-one;
  border-radius: 5px;
}

.navcontainer {
  nav {
    margin-top: 5vh;
    ul {
      li {
        width: auto;
        a::after {
          content: "\00b7";
          float: right;
          padding-left: 2rem;
          color: $secondary-one;
          font-size: 2rem;
          line-height: 1.35rem;
        }
      }
      li:last-child a::after {
        display: none;
      }
      .menu-item {
        font-size: 13.7px;
        padding: 0.7rem 1rem;
      }
    }
  }
}

.about {
  margin-top: 6vh;
  div:nth-child(2) {
    img {
      height: 250px;
    }
  }
}
