@for $i from 1 through 12 {
  $w:($i / 12) * 100%;
  .medium-#{$i} {flex-basis: $w;}	
}

.limited {
  max-width: 700px;
}

.menu-spacer {
  height: 3px;
  border: none;
  background-color: $secondary-one;
  border-radius: 5px;
}

.navcontainer {
  nav {
    width: 100%;
    margin-top: 3.5vh;
    button {
      display: none;
    }

    ul {
      display: block;
      li {
        width: auto;
        float: left;
        a::after {
          content: "\00b7";
          float: right;
          padding-left: 0.5rem;
          color: $secondary-one;
          font-size: 2rem;
          line-height: 0.9rem;
        }
      }
      li:last-child a::after {
        display: none;
      }
    }
    .menu-item {
      font-size: 13px;
      padding: 0.7rem 0.2rem;
    }
  }

  .social-links-small {
    display: none;
  }
}

.about {
  align-items: center;
  border-left: 15px solid $primary-two;
  margin-top: 4vh;
  div:first-child {
    padding-left: 1.5em;
  }
  div:nth-child(2) {
    display: block;
    img {
      height: 200px;
      border-radius: 8px;
      filter:sepia(100%);
      float: right;
    }
  }
  .social-links {
    img {
      width: 1.6em;
      margin: auto .2em auto .2em;
    }
  }
}
