$primary-one: #8C370E;
$primary-two: #D97341;
$secondary-one: rgb(0, 148, 136);
$secondary-one-opaque: rgba(0, 148, 136, 0.9);
$secondary-two: #66FFF2;
$secondary-three: #41D9CC;

$section-margin-top: 6vh;